#include "../../src/headers/main_window.h"
#include<windows.h>

//The drop down menus of the main window
IDR_MYMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit", ID_FILE_EXIT
        MENUITEM "&Save", ID_FILE_SAVE
        MENUITEM "&Load", ID_FILE_LOAD
    END

    POPUP "&Stuff"
    BEGIN
        MENUITEM "&Go", ID_STUFF_GO
        MENUITEM "G&o somewhere else", 0, GRAYED
    END
    
    POPUP "&Dialog"
    BEGIN
    	MENUITEM "&Show", ID_DIALOG_SHOW
    	MENUITEM "&Hide", ID_DIALOG_HIDE
    END
    
    POPUP "&Help"
    BEGIN
    	MENUITEM "&About", ID_HELP_ABOUT
    END
END



//dialog box that pops up when clicking on Help->About
IDD_ABOUT DIALOG DISCARDABLE  0, 0, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "My About Box"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,174,18,50,14
    PUSHBUTTON      "&Cancel",IDCANCEL,174,35,50,14

END

//dialog box that stays open
IDD_TOOLBAR DIALOGEX 0, 0, 300, 175 //size of box in 'box units', not pixels
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Console"
FONT 8, "MS Sans Serif"
BEGIN
//	LTEXT	"Enter a Name:", -1, 7, 7, 84, 14
	///EDITTEXT    IDC_TEXT,7,30,84,14,ES_AUTOHSCROLL
	PUSHBUTTON 	"&Enter Name", IDC_SECOND,7,60,84,14
	
END

//The player bitmap:
//IDB_PLAYER BITMAP DISCARDABLE "../images/player.bmp"
2001 BITMAP DISCARDABLE "../images/player.bmp"
//2002 BITMAP DISCARDABLE "../images/grass.bmp"
//2003 BITMAP DISCARDABLE "../images/black.bmp"
2004 BITMAP DISCARDABLE "../images/cursor2.bmp"
2005 BITMAP DISCARDABLE "../images/skelly.bmp"
2006 BITMAP DISCARDABLE "../images/skelly2.bmp"
2007 BITMAP DISCARDABLE "../images/skelly3.bmp"
2008 BITMAP DISCARDABLE "../images/skelly4.bmp"
2009 BITMAP DISCARDABLE "../images/skelly5.bmp"
2011 BITMAP DISCARDABLE "../images/red_skelly.bmp"
2013 BITMAP DISCARDABLE "../images/red_robed.bmp"

2010 BITMAP DISCARDABLE "../images/console_bg.bmp"
2012 BITMAP DISCARDABLE "../images/dialog_box.bmp"

2500 BITMAP DISCARDABLE "../images/black.bmp"
2501 BITMAP DISCARDABLE "../images/grass.bmp"
2502 BITMAP DISCARDABLE "../images/sea.bmp"

//shore images
2511 BITMAP DISCARDABLE "../images/shore_edge.bmp"
2512 BITMAP DISCARDABLE "../images/shore_split.bmp"
2513 BITMAP DISCARDABLE "../images/shore_corner.bmp"
2514 BITMAP DISCARDABLE "../images/shore_cove.bmp"
2515 BITMAP DISCARDABLE "../images/shore_pond.bmp"

//mountain images
2521 BITMAP DISCARDABLE "../images/wall.bmp"
2522 BITMAP DISCARDABLE "../images/tmp_ground.bmp"

//building
2531 BITMAP DISCARDABLE "../images/stone_wall.bmp"
2532 BITMAP DISCARDABLE "../images/stone_wall_top.bmp"
2533 BITMAP DISCARDABLE "../images/stone_wall_doorway.bmp"

//walkway
2541 BITMAP DISCARDABLE "../images/path.bmp"
2542 BITMAP DISCARDABLE "../images/path_diag.bmp"

//floor
2551 BITMAP DISCARDABLE "../images/floor_wood.bmp"

//wilderness
2561 BITMAP DISCARDABLE "../images/tree.bmp"

//items
//inventory screen
3000 BITMAP DISCARDABLE "../images/inventory_bg.bmp"
3001 BITMAP DISCARDABLE "../images/select_arrow.bmp"
3002 BITMAP DISCARDABLE "../images/scroll_up_arrow.bmp"
3003 BITMAP DISCARDABLE "../images/item_bg.bmp"
3004 BITMAP DISCARDABLE "../images/scroll_down_arrow.bmp"

//items
3020 BITMAP DISCARDABLE "../images/dagger.bmp"
3021 BITMAP DISCARDABLE "../images/herb.bmp"
3022 BITMAP DISCARDABLE "../images/health_potion.bmp"
3023 BITMAP DISCARDABLE "../images/mana_potion.bmp"

//Ability
3500 BITMAP DISCARDABLE "../images/ability_creation_bg.bmp"
3501 BITMAP DISCARDABLE "../images/selector.bmp"
3502 BITMAP DISCARDABLE "../images/left_right_arrows.bmp"
3503 BITMAP DISCARDABLE "../images/name_entry_box.bmp"

//The Icon :)
IDI_MYICON ICON "../images/nat_1.ico"