#include "../../src/headers/main_window.h"
#include<windows.h>

//The drop down menus of the main window
IDR_MYMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit", ID_FILE_EXIT
        MENUITEM "&Save", ID_FILE_SAVE
        MENUITEM "&Load", ID_FILE_LOAD
    END

    POPUP "&Stuff"
    BEGIN
        MENUITEM "&Go", ID_STUFF_GO
        MENUITEM "G&o somewhere else", 0, GRAYED
    END
    
    POPUP "&Dialog"
    BEGIN
    	MENUITEM "&Show", ID_DIALOG_SHOW
    	MENUITEM "&Hide", ID_DIALOG_HIDE
    END
    
    POPUP "&Help"
    BEGIN
    	MENUITEM "&About", ID_HELP_ABOUT
    END
END



//dialog box that pops up when clicking on Help->About
IDD_ABOUT DIALOG DISCARDABLE  0, 0, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "My About Box"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,174,18,50,14
    PUSHBUTTON      "&Cancel",IDCANCEL,174,35,50,14

END

//dialog box that stays open
IDD_TOOLBAR DIALOGEX 0, 0, 300, 175 //size of box in 'box units', not pixels
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Console"
FONT 8, "MS Sans Serif"
BEGIN
//	LTEXT	"Enter a Name:", -1, 7, 7, 84, 14
	///EDITTEXT    IDC_TEXT,7,30,84,14,ES_AUTOHSCROLL
	PUSHBUTTON 	"&Enter Name", IDC_SECOND,7,60,84,14
	
END

//Main Menu images 1400 - 1500
1400 BITMAP DISCARDABLE "../images/title.bmp"
1401 BITMAP DISCARDABLE "../images/create_view.bmp"
1402 BITMAP DISCARDABLE "../images/select_arrow_left.bmp"
1403 BITMAP DISCARDABLE "../images/title_options.bmp"

1404 BITMAP DISCARDABLE "../images/create_entry_1_select.bmp"
1405 BITMAP DISCARDABLE "../images/create_entry_2_select.bmp"
1406 BITMAP DISCARDABLE "../images/create_entry_3_select.bmp"
1407 BITMAP DISCARDABLE "../images/create_entry_4_select.bmp"
1408 BITMAP DISCARDABLE "../images/create_entry_5_select.bmp"
1409 BITMAP DISCARDABLE "../images/create_entry_1_edit.bmp"
1410 BITMAP DISCARDABLE "../images/create_entry_2_edit.bmp"
1411 BITMAP DISCARDABLE "../images/create_entry_3_edit.bmp"
1412 BITMAP DISCARDABLE "../images/create_entry_4_edit.bmp"
1413 BITMAP DISCARDABLE "../images/create_entry_5_edit.bmp"
1414 BITMAP DISCARDABLE "../images/create_entry_6_select.bmp"
1415 BITMAP DISCARDABLE "../images/create_entry_6_edit.bmp"
1416 BITMAP DISCARDABLE "../images/create_abilities_view.bmp"
1417 BITMAP DISCARDABLE "../images/create_add_ability.bmp"
1418 BITMAP DISCARDABLE "../images/save_load_screen.bmp"
1419 BITMAP DISCARDABLE "../images/save_load_select.bmp"
1420 BITMAP DISCARDABLE "../images/game_menu.bmp"
1421 BITMAP DISCARDABLE "../images/confirmation_view.bmp"

//Menu images 1500 - 2000
1500 BITMAP DISCARDABLE "../images/console_bg.bmp" //2010
1501 BITMAP DISCARDABLE "../images/dialog_box.bmp" //2012
1502 BITMAP DISCARDABLE "../images/sidebar_bg.bmp" //2014

//inventory screen
1503 BITMAP DISCARDABLE "../images/inventory_bg.bmp" //3000
1504 BITMAP DISCARDABLE "../images/select_arrow.bmp" //3001
1505 BITMAP DISCARDABLE "../images/scroll_up_arrow.bmp" //3002
1506 BITMAP DISCARDABLE "../images/item_bg.bmp" //3003
1507 BITMAP DISCARDABLE "../images/scroll_down_arrow.bmp" //3004

1508 BITMAP DISCARDABLE "../images/cursor.bmp" //2004

//HUD flags
1509 BITMAP DISCARDABLE "../images/action_mode.bmp"
1510 BITMAP DISCARDABLE "../images/poisoned_mode.bmp"
1511 BITMAP DISCARDABLE "../images/burning_mode.bmp"
1512 BITMAP DISCARDABLE "../images/berzerk_mode.bmp"
1513 BITMAP DISCARDABLE "../images/paralyzed_mode.bmp"
1514 BITMAP DISCARDABLE "../images/bleeding_mode.bmp"
1515 BITMAP DISCARDABLE "../images/confused_mode.bmp"
1516 BITMAP DISCARDABLE "../images/silenced_mode.bmp"
1517 BITMAP DISCARDABLE "../images/sleeping_mode.bmp"
1518 BITMAP DISCARDABLE "../images/sneaking_mode.bmp"
1521 BITMAP DISCARDABLE "../images/hungry_mode.bmp"
1522 BITMAP DISCARDABLE "../images/starving_mode.bmp"

//Look view
1519 BITMAP DISCARDABLE "../images/look_background.bmp"
1520 BITMAP DISCARDABLE "../images/view.bmp"

//Pause view
1523 BITMAP DISCARDABLE "../images/paused.bmp"

//Dialog portrait frame
1524 BITMAP DISCARDABLE "../images/dialog_box_portrait.bmp"

//Character Info
1525 BITMAP DISCARDABLE "../images/info_background.bmp"
1526 BITMAP DISCARDABLE "../images/effects_background.bmp"
1527 BITMAP DISCARDABLE "../images/damage_reduction_chart.bmp"
1528 BITMAP DISCARDABLE "../images/active_effects.bmp"
1529 BITMAP DISCARDABLE "../images/level_up.bmp"
1530 BITMAP DISCARDABLE "../images/character_info.bmp"

//Map Generator View
1531 BITMAP DISCARDABLE "../images/selected_character_box.bmp"
1532 BITMAP DISCARDABLE "../images/map_generator_character_select_background.bmp" 

//Base character images 2000 - 2500
2001 BITMAP DISCARDABLE "../images/human_white_idle.bmp"
2002 BITMAP DISCARDABLE "../images/human_white_attack_slash.bmp"
2003 BITMAP DISCARDABLE "../images/human_white_attack_pierce.bmp"
2004 BITMAP DISCARDABLE "../images/human_white_death.bmp"

2005 BITMAP DISCARDABLE "../images/human_tan_idle.bmp"
2008 BITMAP DISCARDABLE "../images/human_tan_attack_slash.bmp"
2009 BITMAP DISCARDABLE "../images/human_tan_attack_pierce.bmp"
2010 BITMAP DISCARDABLE "../images/human_tan_death.bmp"

2006 BITMAP DISCARDABLE "../images/human_brown_idle.bmp"
2011 BITMAP DISCARDABLE "../images/human_brown_attack_slash.bmp"
2012 BITMAP DISCARDABLE "../images/human_brown_attack_pierce.bmp"
2013 BITMAP DISCARDABLE "../images/human_brown_death.bmp"

2007 BITMAP DISCARDABLE "../images/human_black_idle.bmp"
2014 BITMAP DISCARDABLE "../images/human_black_attack_slash.bmp"
2015 BITMAP DISCARDABLE "../images/human_black_attack_pierce.bmp"
2016 BITMAP DISCARDABLE "../images/human_black_death.bmp"

//Enemy images 2500 - 3500
	//skelly
2501 BITMAP DISCARDABLE "../images/skelly_idle.bmp" //full: 2005
2502 BITMAP DISCARDABLE "../images/skelly_attack.bmp" 
2503 BITMAP DISCARDABLE "../images/skelly_death.bmp" 

	//red skelly
2510 BITMAP DISCARDABLE "../images/red_skelly_idle.bmp" //full: 2011
2511 BITMAP DISCARDABLE "../images/red_skelly_attack.bmp"
2512 BITMAP DISCARDABLE "../images/red_skelly_death.bmp"

2513 BITMAP DISCARDABLE "../images/mimic_idle.bmp"
2514 BITMAP DISCARDABLE "../images/mimic_attack.bmp"
2515 BITMAP DISCARDABLE "../images/mimic_death.bmp"

//Beast images 3500 - 4500


//NPC images 4500 - 5000
4500 BITMAP DISCARDABLE "../images/red_robed.bmp" //2013

//Guard images 5000 - 5500


//Ally images 5500 - 6000
5500 BITMAP DISCARDABLE "../images/guy_portrait.bmp"

//Interactable images 6000-7500
6000 BITMAP DISCARDABLE "../images/dungeon_door.bmp"
6001 BITMAP DISCARDABLE "../images/dungeon_door_opening.bmp"

6002 BITMAP DISCARDABLE "../images/fishing_1.bmp"

6003 BITMAP DISCARDABLE "../images/chest_idle.bmp"
6004 BITMAP DISCARDABLE "../images/chest_opening.bmp"
6005 BITMAP DISCARDABLE "../images/chest_open.bmp"
6006 BITMAP DISCARDABLE "../images/mimic_sleeping_idle.bmp"
6007 BITMAP DISCARDABLE "../images/mimic_opening.bmp"
6008 BITMAP DISCARDABLE "../images/chest_destroyed.bmp"

6009 BITMAP DISCARDABLE "../images/signpost_idle.bmp"
6010 BITMAP DISCARDABLE "../images/sign_wall_idle.bmp"
6011 BITMAP DISCARDABLE "../images/sign_low_wall_idle.bmp"

6012 BITMAP DISCARDABLE "../images/iron_gate_idle.bmp"
6013 BITMAP DISCARDABLE "../images/iron_gate_opening.bmp"

6014 BITMAP DISCARDABLE "../images/stone_switch_idle.bmp"
6015 BITMAP DISCARDABLE "../images/stone_switch_turning_on.bmp"
6016 BITMAP DISCARDABLE "../images/stone_switch_on_idle.bmp"
6017 BITMAP DISCARDABLE "../images/stone_switch_turning_off.bmp"
6018 BITMAP DISCARDABLE "../images/iron_gate_closing.bmp"

6019 BITMAP DISCARDABLE "../images/raised_plate_idle.bmp"
6020 BITMAP DISCARDABLE "../images/falling_stones.bmp"

6021 BITMAP DISCARDABLE "../images/save_statue.bmp"

//Background images 7500 - 8500
7500 BITMAP DISCARDABLE "../images/black.bmp" //2500
7501 BITMAP DISCARDABLE "../images/grass.bmp" //2501
7502 BITMAP DISCARDABLE "../images/sea.bmp" //2502

	//shore images
7503 BITMAP DISCARDABLE "../images/shore_edge.bmp" //2511
7504 BITMAP DISCARDABLE "../images/shore_split.bmp" //2512
7505 BITMAP DISCARDABLE "../images/shore_corner.bmp" //2513
7506 BITMAP DISCARDABLE "../images/shore_cove.bmp" //2514
7507 BITMAP DISCARDABLE "../images/shore_pond.bmp" //2515

	//building
7508 BITMAP DISCARDABLE "../images/stone_wall.bmp" //2531
7509 BITMAP DISCARDABLE "../images/stone_wall_top.bmp" //2532
7510 BITMAP DISCARDABLE "../images/stone_wall_doorway.bmp" //2533
7515 BITMAP DISCARDABLE "../images/upstairs.bmp"
7516 BITMAP DISCARDABLE "../images/downstairs.bmp"
7517 BITMAP DISCARDABLE "../images/stone_floor.bmp"


	//walkway
7511 BITMAP DISCARDABLE "../images/path.bmp" //2541
7512 BITMAP DISCARDABLE "../images/path_diag.bmp"//2542

	//floor
7513 BITMAP DISCARDABLE "../images/floor_wood.bmp" //2551

	//wilderness
7514 BITMAP DISCARDABLE "../images/tree.bmp" //2561

//item images 8500 - 9500
8500 BITMAP DISCARDABLE "../images/sword_1_idle.bmp" //full: 3020
8501 BITMAP DISCARDABLE "../images/sword_1_attack_slash.bmp"
8502 BITMAP DISCARDABLE "../images/sword_1_death.bmp"

8503 BITMAP DISCARDABLE "../images/armor_1_idle.bmp" //full: 3024
8504 BITMAP DISCARDABLE "../images/armor_1_attack_slash.bmp"
8505 BITMAP DISCARDABLE "../images/armor_1_attack_pierce.bmp"
8506 BITMAP DISCARDABLE "../images/armor_1_death.bmp"

8507 BITMAP DISCARDABLE "../images/armor_2_idle.bmp"
8508 BITMAP DISCARDABLE "../images/armor_2_attack_slash.bmp"
8509 BITMAP DISCARDABLE "../images/armor_2_attack_pierce.bmp"
8510 BITMAP DISCARDABLE "../images/armor_2_death.bmp"

8511 BITMAP DISCARDABLE "../images/herb.bmp" //3021
8512 BITMAP DISCARDABLE "../images/health_potion.bmp" //3022
8513 BITMAP DISCARDABLE "../images/mana_potion.bmp" //3023

8514 BITMAP DISCARDABLE "../images/spear_1_idle.bmp" 
8515 BITMAP DISCARDABLE "../images/spear_1_attack_pierce.bmp"
8516 BITMAP DISCARDABLE "../images/armor_1_death.bmp"

8517 BITMAP DISCARDABLE "../images/shield_1_idle.bmp" 
8518 BITMAP DISCARDABLE "../images/shield_1_attack_slash.bmp"
8519 BITMAP DISCARDABLE "../images/shield_1_attack_pierce.bmp"
8520 BITMAP DISCARDABLE "../images/shield_1_death.bmp"

8521 BITMAP DISCARDABLE "../images/sword_1_item.bmp"
8522 BITMAP DISCARDABLE "../images/armor_1_item.bmp"
8523 BITMAP DISCARDABLE "../images/armor_2_item.bmp"
8524 BITMAP DISCARDABLE "../images/spear_1_item.bmp" 
8525 BITMAP DISCARDABLE "../images/shield_1_item.bmp"

8526 BITMAP DISCARDABLE "../images/ham.bmp"
8527 BITMAP DISCARDABLE "../images/dungeon1_key.bmp"
8528 BITMAP DISCARDABLE "../images/fish1_idle.bmp"
8529 BITMAP DISCARDABLE "../images/fishingpole_idle.bmp"

//Ability images 9500 - 10000
9500 BITMAP DISCARDABLE "../images/ability_creation_bg.bmp" //3500
9501 BITMAP DISCARDABLE "../images/selector.bmp" //3501
9502 BITMAP DISCARDABLE "../images/left_right_arrows.bmp" //3502
9503 BITMAP DISCARDABLE "../images/name_entry_box.bmp" //3503
9504 BITMAP DISCARDABLE "../images/abilities_view.bmp" //3504

//Misc. Images 10000+
10000 BITMAP DISCARDABLE "../images/hit.bmp" //4000
10001 BITMAP DISCARDABLE "../images/miss.bmp" //4001
10002 BITMAP DISCARDABLE "../images/reddish_space.bmp"
10003 BITMAP DISCARDABLE "../images/world_map_little_samson.bmp"
10004 BITMAP DISCARDABLE "../images/area_node_idle.bmp"
10005 BITMAP DISCARDABLE "../images/area_node_active.bmp"
10006 BITMAP DISCARDABLE "../images/stepping_stone_idle.bmp"
10007 BITMAP DISCARDABLE "../images/stepping_stone_active.bmp"
10008 BITMAP DISCARDABLE "../images/transit_space_outline.bmp"
10009 BITMAP DISCARDABLE "../images/world_space_outline.bmp"

//The Icon :)
IDI_MYICON ICON "../images/nat_1.ico"